<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grape.name %>
</p>

<% if can? :update, @grape %>
  <%= link_to 'Edit', edit_grape_path(@grape), :class => 'btn btn-default' %>
<% end %>
<%= link_to 'Back', grapes_path, :class => 'btn btn-default' %>
