<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grape.name %>
</p>

<%= link_to 'Edit', edit_grape_path(@grape), :class => 'btn btn-default' %>
<%= link_to 'Back', grapes_path, :class => 'btn btn-default' %>
